body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-brand {
  color: #df3ca6;
}

.navbar-brand img {
  width: 30px;
  margin-right: 10px;
}

.btn {
  font-size: 15px;
}

// .btn-primary,
// .bg-primary {
//   background-color: #df3ca6 !important;
//   border: none;
// }

// .btn-primary:hover {
//   background-color: #df3ca6;
//   opacity: 0.9;
// }

.btn-secondary {
  background-color: #7430f9;
}

.btn-secondary:hover {
  background-color: #7430f9;
  opacity: 0.9;
}

.btn-grey {
  background-color: grey;
}
.btn-grey:hover {
  background-color: grey;
  opacity: 0.9;
}

.btn-white {
  border: 1px solid black;
  background-color: rgb(230, 229, 229);
}
.btn-white:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(230, 229, 229);
}

.btn-effect > div::before {
  content: "";
  overflow: hidden;
  background-repeat: no-repeat;
  transition: width 300ms, margin-left 300ms;
}

.btn-effect:is(:hover) > div::before {
  width: 0px;
  height: 0;
}

.btn-effect > div::after {
  content: "";
  display: block;
  width: 0px;
  margin-right: 0;

  overflow: hidden;
  background-repeat: no-repeat;
  transition: width 300ms, margin-left 300ms;
}

.client-icon > div::after {
  background-image: url("./components/assets/client2.svg");
}
.project-icon > div::after {
  background-image: url("./components/assets/project.svg");
}
.task-icon > div::after {
  background-image: url("./components/assets/list2.svg");
}

.btn-effect:is(:hover) > div::after {
  width: 20px;
  height: 15px;

  margin-left: 8px;
  margin-right: 0;
}

.btn-effect:hover {
  padding-right: 0.1;
}

.icon {
  margin-right: 6px;
}

.gantt {
  font-weight: 600;
}

.gantt-container {
  width: 90vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}
